<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ErrorQueue" value="Scheduler.error" />
    <add key="DestinationEndpointName" value="Workflow" />
    <add key="RabbitMqConnectionString" value="host=localhost;username=admin;password=admin;VirtualHost=my_vhost;"/>
  </appSettings>
</configuration>